p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: large;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(0, 0, 0);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    color: white;
}

h3 {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.div1 {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 20px;
    background-color:rgb(0, 0, 0);
}

body {
    background-color: rgb(48, 48, 48);
}

iframe {
    text-align: center;
    margin: 10px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 20px;
    background-color:rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
  
li {
    display: inline;
    padding: 5px 5px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

a:visited { text-decoration: none; color:rgb(255, 255, 255); }
a:hover { text-decoration: none; color:rgb(109, 109, 255); }
a:focus { text-decoration: none; color:rgb(109, 109, 255); }
a:hover, a:active { text-decoration: none; color:rgb(255, 255, 255) }

a {
    text-decoration: none;
    color: white;
}

img {
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
